@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  gap: 1.2rem;
  padding: 1.2rem;
}

.arr {
  color: #f1f1f1;
  cursor: pointer;
  margin: 10px;
  font-size: 30pt;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 18pt;
  gap: 10px;
}

#logo {
  position: absolute;
  top: 2px;
  width: 100px;
}

#title {
  background-color: #e2e2e2;
  color: #000000;
}

#museum-link {
  background-color: #2c6e8b;
  color: #f1f1f1;
}

#scan-draw {
  background-color: #fdab0b;
  color: #f1f1f1;
}

#scan-draw i {
  color: #f1f1f1;
}

#contact-link {
  background-color: #3fb919;
  color: #f1f1f1;
}

#contact-link i {
  color: #fa0644;
}

#museum-link {
  background-color: #2c6e8b;
  color: #f1f1f1;
}

#drawing-history {
  background-color: #fa5300;
  color: #f1f1f1;
}

#drawing-history i {
  color: #aa02ff;
}

#our-team {
  background-color: #aa02ff;
  color: #f1f1f1;
}

#our-team i {
  color: #f1f1f1;
}

#products {
  background-color: #fa0644;
  color: #f1f1f1;
}

#products i {
  color: #f1f1f1;
}

#who-we-are {
  background-color: #2bc299;
  color: #f1f1f1;
}

#who-we-are i {
  color: #fa5300;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}
